body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(81, 162, 187);
    padding: 20px;
}

h1 {
    text-align: center;
    color: black;
}

.car-card {
    background:white;
    padding: 15px;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 10);
}

.car-card img {
    width: 100%; 
    border-radius:15px;
    margin-bottom:10px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 450px);
    gap:20px;
    justify-content: center;
    

}

