body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:rgb(22, 17, 92);
    padding: 20px;
}

h1 {
    text-align: center;
    color: black;
}

.car-card {
    background:rgb(84, 99, 167);
    padding: 15px;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 10);
}

.car-card img {
    width: 100%; 
    border-radius:15px;
    margin-bottom:10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 10);
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


